fastapi
uvicorn[standard]
sqlalchemy
pymysql
pandas
python-dotenv
websockets
redis
redis[asyncio]
aioredis
pydantic
streamlit
apscheduler
statsmodels
scipy
plotly
requests
python-dateutil
numpy
requests
websocket-client